 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>We are a small team of like minded creative web developers who can take an Idea to a full devleoped app. We are experienced in delivering projects from scratch to production.</p>
                </div>
                <div class="col-lg-4">
                    <p>We build ideas to profit making projects. Just discuss your idea and make it a game changer next big thing for you. We are eager and experienced in serving clients to their satisfaction.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center page-scroll">
                    <a href="#contact" class="btn btn-lg btn-outline">
                        <i class="fa fa-envelope"></i> Contact Us
                    </a>
                </div>
            </div>
        </div>
    </section>